<div class="container" style="font-size:15px;">
    <table border="3px solid black">
        <tr>
            <td>Institute ID</td>
            <td>Institute Name</td>
            <td>Institute Description</td>
            <td>Institute Address</td>
            <td>Mobile</td>
            <td>Email</td>
        </tr>
        <tr *ngFor="let i of institute">
            <td>{{i. instituteId}}</td>
            <td>{{i.instituteName}}</td>
            <td>{{i. instituteDescription}}</td>
            <td>{{i.instituteAddress}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.email}}</td>
        </tr>
    </table>
</div>
