<div class="container" style="margin: 30px 30px 30px 30px;">
    <a class="btn btn-primary" routerLink="View Courses">View Courses</a>
    &nbsp;&nbsp;&nbsp;<a class="btn btn-success" routerLink="Add Courses">Add Courses</a>
    &nbsp;&nbsp;&nbsp;<a class="btn btn-info" routerLink="Edit Courses">Edit Courses</a>
    &nbsp;&nbsp;&nbsp;<a class="btn btn-dark" routerLink="Delete Courses">Delete Courses</a>
    
</div>
<div class="container" style="margin: 30px 30px 30px 30px;">
    <a class="btn btn-primary" routerLink="View Institutes">
        View Institutes
    </a>
    &nbsp;&nbsp;&nbsp;<a class="btn btn-success" routerLink="Add Institutes">Add Institutes</a>
    &nbsp;&nbsp;&nbsp;<a class="btn btn-info" routerLink="Edit Institutes">Edit Institutes</a>
    &nbsp;&nbsp;&nbsp;<a class="btn btn-dark" routerLink="Delete Institutes">Delete Institutes</a>
    
</div>
<div class="container" style="margin: 30px 30px 30px 30px;">
    <a class="btn btn-primary" routerLink="View Students">
        View Students
    </a>
    &nbsp;&nbsp;&nbsp;<a class="btn btn-success" routerLink="Add Students">Add Students</a>
    &nbsp;&nbsp;&nbsp;<a class="btn btn-info" routerLink="Edit Students">Edit Students</a>
    &nbsp;&nbsp;&nbsp;<a class="btn btn-dark" routerLink="Delete Students">Delete Students</a>
    
</div>
<router-outlet></router-outlet>
